body {
  height: 100vh;
}

nav,
footer {
  background-color: #5255aa;
}

.header {
  display: flex;
  height: 50vh;
  margin: auto;
  padding: 20px;
}

.headings {
  width: 40%;
  height: 25vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 50px #5255aa;
  padding: 2%;
  /*  margin-left: 2%;
  margin-top: 8%;
  */
  color: rgb(97, 97, 97);
  text-align: center;
}

.headings h4,
.headings h6 {
  display: block;
}

.images {
  height: 50vh;
}

/* .header-img img {
  margin-left: 70%;
  margin-top: 8%;
  height: 300px;
} */

.card-container {
  background-color: #5255aa;
  padding: 30px;
}

.card-container h4,
footer {
  color: rgb(214, 211, 211);
}

.card-deck {
  padding: 0.5%;
  width: 80%;
  margin: auto;
}

.service-card {
  box-shadow: 5px 10px 30px rgb(33, 33, 33);
}

.card-heading {
  margin-top: 10px;
  font-weight: bold;
  font-size: small;
}

.card-img {
  height: 150px;
}

.team-section {
  padding: 1%;
  border: solid #5255aa;
  width: 95%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.team-section h4 {
  color: rgb(97, 97, 97);
}

.team-deck {
  width: 80%;
}

.carousel {
  height: fit-content;
  margin: auto;
}

.carousel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 50%;
  width: 70%;
  align-self: center;
}

.carousel-heading {
  font-size: large;
  color: rgb(97, 97, 97);
}

.team-details {
  width: 70%;
  margin: auto;
  margin-top: 2%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235255aa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235255aa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 746px) {
  .carousel-img {
    height: 20%;
    width: 50%;
    align-self: center;
  }
}

@media screen and (max-width: 930px) {
  .header {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images {
    height: auto;
    width: 40%;
  }
}
